@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.labelSearch {
	@apply block text-sm font-medium text-gray-700;
}

.inputSearch {
	@apply mt-1 w-1/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.labelTable {
	@apply px-3 py-2 text-left font-medium text-gray-500 tracking-wider;
}

.resultTable {
	@apply text-sm text-gray-500;
}

.spaceTable {
	@apply px-3 py-2 whitespace-nowrap;
}

.actualizarText {
	@apply text-indigo-600 hover:text-indigo-900;
}

.searchButton {
	@apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.spanSeccion {
	@apply w-full text-gray-600 font-bold;
}

.tituloSeccion {
	@apply md:flex mb-3;
}

.inputTextD {
	@apply w-full bg-gray-50 border border-gray-300 rounded-md px-4 py-1 mb-3 my-2 shadow-sm;
}

.inputTextE {
	@apply w-full bg-white border border-gray-300 rounded-md px-4 py-1 mb-3 my-2  shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
}

.totalVentaT {
	@apply text-gray-500 font-bold md:w-5/6 px-3 flex justify-end;
}

.totalVentaN {
	@apply text-gray-500 font-bold md:w-1/6 px-3 flex justify-end;
}
.listado {
	@apply w-full p-1 rounded-md text-gray-600 border-gray-400;
}

.normalButton{
	@apply text-white bg-green-500 p-2 rounded-lg hover:bg-green-600 mx-4;
}

.ImagenIndex {
	width:max-content;
  	background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1710/Blur_indoors_items_table_toy_HD_Wallpaper_1366x768.jpg");
	background-size:cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	background-attachment:scroll;
}

.ImagenMarcas {
	width:max-content;
  	background-image: url("https://thumbs.dreamstime.com/z/fondo-abstracto-del-mosaico-32357493.jpg");
	background-size:cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	background-attachment:scroll;
}

.ImagenMarcas {
	width:max-content;
  	background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1702/Santa_claus_christmas_toy-High_Quality_HD_Wallpaper_1366x768.jpg");
	background-size:cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	background-attachment:scroll;
}

.ImagenEdades {
	width:max-content;
  	background-image: url("https://s1.1zoom.me/big0/382/271521-werecat.jpg");
	background-size:cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	background-attachment:scroll;
}

.ImagenCategorias {
	width:min-content;
  	background-image: url("https://previews.123rf.com/images/medeja/medeja1602/medeja160200010/52250500-una-colecci%C3%B3n-de-dibujos-animados-de-colores-moderna-esboz%C3%B3-iconos-para-tipos-diferentes-juguetes-y-.jpg");
	background-size:contain;
  	background-repeat: repeat;
  	background-position: start center;
	background-attachment:scroll;
}


.ImagenServicioAlCliente {
	width:max-content;
  	background-image: url("https://thumbs.dreamstime.com/z/fondo-abstracto-del-mosaico-32357493.jpg");
	background-size:cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	background-attachment:scroll;
}


.ImagenAcercaDeNosotros {
	width:max-content;
  	background-image: url("https://www.peoplefirst.blog/wp-content/uploads/2018/12/beneficios-trabajo-en-equipo1.jpg");
	background-size:cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	background-attachment:scroll;
}

.ImagenLogin {
	width:max-content;
  	background-image: url("https://fondosmil.com/fondo/32853.jpg");
	background-size:cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	background-attachment:scroll;
}

.ImagenRegistro {
	width:max-content;
  	background-image: url("https://t3.ftcdn.net/jpg/01/65/43/58/360_F_165435840_dGBDMymnMu8IlEvZ71eKWJCynQYGyFzS.jpg");
	background-size:cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	background-attachment:scroll;
}

.ImagenSideBar {
	width:max-content;
  	background-image: url("https://image.freepik.com/foto-gratis/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1094.jpg");
	background-size:cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	background-attachment:scroll;
}